<div style="background-color: green;">
    <h3>First Name</h3>
    <input type="text" ng-model="$ctrl.firstName" placeholder="First Name"><br>

    <h3>Last Name</h3>
    <input type="text" ng-model="$ctrl.lastName" placeholder="Last Name"><br>

    <h3>Email Address</h3>
    <input type="text" ng-model="$ctrl.email" placeholder="Email Address"><br>

    <h3>Username</h3>
    <input type="text" ng-model="$ctrl.username" placeholder="Username"><br>

    <h3>Password</h3>
    <input type="text" ng-model="$ctrl.password" placeholder="Password"><br>

    <h3>Confirm Password</h3>
    <input type="text" ng-model="$ctrl.confirmPassword" placeholder="Re-enter Password"><br>

    <button ng-click="$ctrl.submitInfo()">Submit Info</button>
</div>